body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.ctrl {
    position: absolute;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 16%;
}